* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.65;
}

body {
  background-image: url(../img/bg.jpg);
  .hidden-modal-bg {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.7;
    background-color: rgba(213, 213, 213, 0.7);
  }
  #hidden-fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #a08989;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    display: none;
    span {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

#hidden-bg {
  background: #4c4777;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: all;
  display: none;
  opacity: 0.75;
}

section {
  max-width: 75%;
  margin: 120px auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-items: center;

  a {
    text-decoration: none;
    color: #bbbbbb;
    transition: color 0.4s ease-in-out;
  }

  div {
    position: relative;

    ul {
      position: absolute;
      list-style: none;
      background-color: #fff;
      top: 49px;
      display: none;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      a li {
        padding: 10px 50px 10px 10px;
        cursor: pointer;

        &:hover {
          background-color: #fafafa;
          transition: background-color 0.4s ease-in-out;
        }
      }
    }
  }

  > div > a {
    margin-right: 20px;
    padding: 20px 20px 20px 10px;
  }

  a:hover {
    color: #ee6588;
  }

  .fa-bars {
    color: #bbbbbb;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
    font-size: 24px;

    &:hover {
      color: #ee6588;
    }
  }

  nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9));
    display: flex;
    flex-direction: column;
    width: 375px;
    z-index: 102;
    visibility: hidden;
    pointer-events: none;

    .fa {
      color: rgba(255, 255, 255, 0.83);
      width: 20px;
      margin-inline-start: auto;
      font-size: 24px;
      cursor: pointer;
      padding: 10px 50px 10px 0;

      &:hover {
        color: #fff;
      }
    }

    ul {
      list-style: none;
      width: 80%;
      height: 200px;
      margin: 20px auto 0;
    }

    button {
      width: 80%;
      margin: 0 auto;
      cursor: pointer;
      border: 1px solid #fff;
      background-color: #fff;
      margin-bottom: 20px;
      padding: 15px 0;
      border-radius: 8px;
      color: #ee6588;
      outline: none;

      &:nth-child(4) {
        background-color: transparent;
        color: #fff;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    ul li {
      padding-bottom: 20px;
      margin-top: 10px;

      a {
        color: rgba(255, 255, 255, 0.75);

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.main-content {
  background-image: url(../img/pic01.jpg);
  background-size: cover;
  text-align: center;

  div {
    background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9));
    display: none;
    border-radius: 6px;
    padding: 50px 100px;
    margin: 100px 0;

    h1 {
      color: #fff;
      font-size: 42px;
      line-height: 50px;
    }

    p {
      color: #fff;
    }

    button {
      border: 2px solid #fff;
      background: none;
      color: #fff;
      padding: 10px 30px;
      cursor: pointer;
      border-radius: 8px;
      margin-top: 20px;
      outline: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.icons-content {
  background-color: #fff;
  text-align: center;

  > div {
    display: inline-block;
    padding: 50px 0;
    width: 60%;
  }

  .hidden-div {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ee6588;
    background-color: #fff;
    width: auto;
    padding: 20px 0;
    z-index: 102;

    .close {
      position: absolute;
      font-size: 40px;
      right: 40px;
      top: 0;
      cursor: pointer;
    }

    li {
      list-style: none;
    }
  }

  div {
    h2 {
      color: #ee6588;
      font-size: 32px;
      padding: 10px;
    }

    p {
      color: #656565;
      width: 80%;
      margin: auto;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      padding: 50px 0;

      li {
        &:nth-child(n) {
          list-style: none;
          margin-top: 10px;
        }

        .fa {
          font-size: 36px;
          color: #ee6588;
          border: 1px solid #d3d3d3;
          border-radius: 50%;
          padding: 28px;
          height: 95px;
          width: 95px;
          position: relative;
        }

        .icon:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: -59px;
          width: 59px;
          height: 1px;
          background-color: #d5d5d5;
        }

        &:nth-child(n) a {
          display: inline-block;
          cursor: pointer;
        }
      }
    }

    &.hidden-div li a i {
      font-size: 36px;
      color: #ee6588;
    }
  }
}

.img-content {
  display: flex;

  > div:nth-child(1) {
    background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9));
    width: calc(100% / 2);
    display: flex;

    > div {
      width: 70%;
      margin: auto;
    }
  }

  div {
    &:nth-child(1) div {
      h2 {
        color: #fff;
        font-size: 32px;
      }

      p {
        color: #fff;
        opacity: 0.75;
      }

      button {
        border: 2px solid #fff;
        background: none;
        color: #fff;
        padding: 15px 30px;
        cursor: pointer;
        border-radius: 8px;
        margin-top: 20px;
        outline: none;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    &:nth-child(2) {
      width: calc(100% / 2);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.slider-content {
  width: 100%;
  min-height: 500px;
  text-align: center;
  background-color: #fff;
  padding-top: 50px;

  h2 {
    color: #ee6588;
    font-size: 32px;
  }

  p {
    color: #656565;
    padding: 20px 0;
  }

  .slider-wrapper {
    position: relative;
    overflow: hidden;
    height: 500px;

    .slider {
      position: absolute;
      display: flex;
      margin-top: 20px;

      article {
        display: inline-block;
        width: 465px;
        margin-left: 50px;
        opacity: 0.2;

        &.active {
          opacity: 0.9;
          transition: opacity 2s ease-in-out;
        }

        p {
          border: 1px solid #d5d5d5;
          border-top: none;
          padding: 25px;
          margin-top: -8px;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }

        a {
          cursor: pointer;

          img {
            width: 100%;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
        }
      }
    }

    .indicators {
      position: absolute;
      bottom: 85px;
      left: 0;
      right: 0;

      a {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 15px;
        cursor: pointer;

        &.active:before {
          background-color: #ee6588;
          border-radius: 50%;
          border: none;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 11.5px;
          height: 11.5px;
          border-radius: 50%;
          border: 1px solid #d5d5d5;
          bottom: 0;
        }

        &.active:before {
          background-color: #ee6588;
          border: 0;
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

.icons-info-content {
  background-color: #fff;
  margin-top: 50px;

  div {
    text-align: center;
    padding: 75px 0;

    h2 {
      color: #ee6588;
      font-size: 32px;
      padding-bottom: 10px;
    }

    p {
      color: #656565;
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      margin: 40px auto;
      width: 90%;

      li {
        width: calc(100% / 3);

        &:nth-child(1), &:nth-child(2) {
          border-right: 1px solid #d5d5d5;
        }

        p {
          padding-top: 20px;
        }

        .fa {
          font-size: 24px;
          color: #ee6588;
          border: 1px solid #d3d3d3;
          border-radius: 50%;
          padding: 15px;
        }

        .mobile {
          width: 55px;
          height: 55px;
          font-size: 30px;
          padding: 11px;
        }
      }
    }
  }
}

footer {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  div {
    color: #bbbbbb;

    .fa {
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
      transition: color 0.4s ease-in-out;

      &:hover {
        color: #ee6588;
      }
    }
  }
}

/* flag icons css */

.flag-icon-tr {
  background-image: url(../img/tr.svg);
  font-size: 16px;
  margin-right: 10px;
}

.flag-icon-us {
  background-image: url(../img/us.svg);
  font-size: 16px;
  margin-right: 10px;
}

.flag-icon-fr {
  background-image: url(../img/fr.svg);
  font-size: 16px;
  margin-right: 10px;
}

/* responsive */
@media screen and (max-width: 575.98px) {
  header nav {
    width: 100%;
  }

  .main-content div {
    padding: 20px;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 14px;
    }

    button {
      padding: 7px 12px;
      border: 1px solid #fff;
    }
  }

  .icons-content {
    div {
      width: 100%;

      h2 {
        font-size: 26px;
      }

      p {
        font-size: 14px;
      }

      ul {
        flex-wrap: wrap;

        li {
          width: 50%;
          padding: 25px;

          &:nth-child(1) {
            border-right: 1px solid #d5d5d5;
            border-bottom: 1px solid #d5d5d5;
          }

          &:nth-child(2) {
            border-bottom: 1px solid #d5d5d5;
          }

          &:nth-child(3) {
            border-right: 1px solid #d5d5d5;
          }

          .fa {
            width: 75px;
            height: 75px;
            padding: 18px;
          }
        }
      }
    }

    > div.hidden-div > h2 {
      padding-top: 30px;
    }
  }

  .img-content {
    flex-wrap: wrap;

    div {
      &:nth-child(1), &:nth-child(2) {
        width: 100%;
      }

      &:nth-child(1) div {
        padding: 30px;
        width: 100%;
        margin: 0;
      }

      &:nth-child(2) {
        min-height: 250px;
      }
    }
  }

  .slider-content .slider-wrapper .slider article {
    width: 275px;
  }

  .icons-info-content div {
    h2 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
    }

    ul {
      flex-wrap: wrap;
    }
  }

  footer {
    flex-direction: column;
    text-align: center;

    div {
      font-size: 14px;
      width: 100%;

      .fa {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .icons-info-content div ul {
    flex-direction: column;

    li {
      width: 100%;
      margin: 10px auto;

      &:nth-child(1), &:nth-child(2) {
        border-right: none;
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .img-content div:nth-child(1) div {
    h2 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
    }

    button {
      padding: 7px 12px;
      border: 1px solid #fff;
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: 1300px) {
  .icons-content div ul li .icon:after {
    display: none;
  }

  body section {
    max-width: 70%;
  }
}

/* ajax.html */
body > section > main > div.generic {
  background-color: #f69560;
  background-image: linear-gradient(90deg, #f69560, #ee6588);
  padding: 40px;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 42px;
  }
  p {
    color: #fff;
    margin-bottom: 20px;
  }
}
body > section > main > div.image > img {
  width: 100%;
  display: block;
}
body > section > main > div.elevation-finder {
  background-color: #fff;
  form {
    margin-top: 20px;
    padding-bottom: 30px;
  }
  div {
    width: 90%;
    margin: auto;
    padding-top: 35px;
    h2 {
      color: #ee6588;
      font-size: 32px;
      margin-bottom: 20px;
    }
    input[type=number]:nth-child(n) {
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #d5d5d5;
      outline: none;
      margin-right: 30px;
      color: #ee6588;
      &:focus {
        border-color: #ee6588;
        box-shadow: inset 0 0 0 1px #ee6588;
      }
      &::placeholder {
        color: #d5d5d5;
      }
    }
    input[type=text]:nth-child(n) {
      padding: 10px;
      border-radius: 6px;
      border: 1px solid #d5d5d5;
      outline: none;
      margin-right: 30px;
      color: #ee6588;
      &::placeholder {
        color: #d5d5d5;
      }
    }
    input[type=submit]:nth-child(n) {
      padding: 10px 30px;
      background-color: #ee6588;
      border: none;
      border-radius: 6px;
      color: #fff;
      cursor: pointer;
      outline: none;
      margin-right: 20px;
      margin-top: 20px;
      &:hover {
        background-color: rgba(238, 101, 136, 0.7);
      }
    }
  }
}
body > section > main > div.content {
  background-color: #fff;
  padding-top: 50px;
  h2 {
    color: #ee6588;
    font-size: 32px;
    width: 90%;
    margin: auto;
  }
  h3 {
    color: #ee6588;
    font-size: 26px;
    width: 90%;
    margin: auto;
  }
  p {
    color: #656565;
    width: 90%;
    margin: auto;
    padding: 20px 0;
  }
  pre {
    border: none;
    margin-top: 20px;
  }
}